@import "@/sass/index.scss";

.shiba-notification-svg {
    display: block;
    transition-property: color, fill, stroke;
    transition-timing-function: var(--fds-soft);
    transition-duration: var(--fds-fast);
}