.shiba-spacing--inline-none {
    margin-right: 0
}

.shiba-spacing--inline-half {
    margin-right: .25rem
}

.shiba-spacing--inline-1x {
    margin-right: .5rem
}

.shiba-spacing--inline-2x {
    margin-right: 1rem
}

.shiba-spacing--inline-3x {
    margin-right: 1.5rem
}

.shiba-spacing--inline-4x {
    margin-right: 2rem
}

.shiba-spacing--inline-6x {
    margin-right: 3rem
}

.shiba-spacing--inline-inline-half {
    margin-right: 0 .25rem 0 0
}

.shiba-spacing--inline-inline-1x {
    margin-right: 0 .5rem 0 0
}

.shiba-spacing--inline-inline-2x {
    margin-right: 0 1rem 0 0
}

.shiba-spacing--inline-inline-3x {
    margin-right: 0 1.5rem 0 0
}

.shiba-spacing--inline-inline-4x {
    margin-right: 0 2rem 0 0
}

.shiba-spacing--inline-inline-6x {
    margin-right: 0 3rem 0 0
}

.shiba-spacing--inline-inset-half {
    margin-right: .25rem .25rem .25rem .25rem
}

.shiba-spacing--inline-inset-1x {
    margin-right: .5rem .5rem .5rem .5rem
}

.shiba-spacing--inline-inset-2x {
    margin-right: 1rem 1rem 1rem 1rem
}

.shiba-spacing--inline-inset-3x {
    margin-right: 1.5rem 1.5rem 1.5rem 1.5rem
}

.shiba-spacing--inline-inset-4x {
    margin-right: 2rem 2rem 2rem 2rem
}

.shiba-spacing--inline-inset-6x {
    margin-right: 3rem 3rem 3rem 3rem
}

.shiba-spacing--inline-stack-half {
    margin-right: 0 0 .25rem 0
}

.shiba-spacing--inline-stack-1x {
    margin-right: 0 0 .5rem 0
}

.shiba-spacing--inline-stack-2x {
    margin-right: 0 0 1rem 0
}

.shiba-spacing--inline-stack-3x {
    margin-right: 0 0 1.5rem 0
}

.shiba-spacing--inline-stack-4x {
    margin-right: 0 0 2rem 0
}

.shiba-spacing--inline-stack-6x {
    margin-right: 0 0 3rem 0
}

.shiba-spacing--inset-none {
    padding: 0
}

.shiba-spacing--inset-half {
    padding: .25rem
}

.shiba-spacing--inset-1x {
    padding: .5rem
}

.shiba-spacing--inset-2x {
    padding: 1rem
}

.shiba-spacing--inset-3x {
    padding: 1.5rem
}

.shiba-spacing--inset-4x {
    padding: 2rem
}

.shiba-spacing--inset-6x {
    padding: 3rem
}

.shiba-spacing--inset-inline-half {
    padding: 0 .25rem 0 0
}

.shiba-spacing--inset-inline-1x {
    padding: 0 .5rem 0 0
}

.shiba-spacing--inset-inline-2x {
    padding: 0 1rem 0 0
}

.shiba-spacing--inset-inline-3x {
    padding: 0 1.5rem 0 0
}

.shiba-spacing--inset-inline-4x {
    padding: 0 2rem 0 0
}

.shiba-spacing--inset-inline-6x {
    padding: 0 3rem 0 0
}

.shiba-spacing--inset-inset-half {
    padding: .25rem
}

.shiba-spacing--inset-inset-1x {
    padding: .5rem
}

.shiba-spacing--inset-inset-2x {
    padding: 1rem
}

.shiba-spacing--inset-inset-3x {
    padding: 1.5rem
}

.shiba-spacing--inset-inset-4x {
    padding: 2rem
}

.shiba-spacing--inset-inset-6x {
    padding: 3rem
}

.shiba-spacing--inset-stack-half {
    padding: 0 0 .25rem
}

.shiba-spacing--inset-stack-1x {
    padding: 0 0 .5rem
}

.shiba-spacing--inset-stack-2x {
    padding: 0 0 1rem
}

.shiba-spacing--inset-stack-3x {
    padding: 0 0 1.5rem
}

.shiba-spacing--inset-stack-4x {
    padding: 0 0 2rem
}

.shiba-spacing--inset-stack-6x {
    padding: 0 0 3rem
}

.shiba-spacing--stack-none {
    margin-bottom: 0
}

.shiba-spacing--stack-half {
    margin-bottom: .25rem
}

.shiba-spacing--stack-1x {
    margin-bottom: .5rem
}

.shiba-spacing--stack-2x {
    margin-bottom: 1rem
}

.shiba-spacing--stack-3x {
    margin-bottom: 1.5rem
}

.shiba-spacing--stack-4x {
    margin-bottom: 2rem
}

.shiba-spacing--stack-6x {
    margin-bottom: 3rem
}

.shiba-spacing--stack-inline-half {
    margin-bottom: 0 .25rem 0 0
}

.shiba-spacing--stack-inline-1x {
    margin-bottom: 0 .5rem 0 0
}

.shiba-spacing--stack-inline-2x {
    margin-bottom: 0 1rem 0 0
}

.shiba-spacing--stack-inline-3x {
    margin-bottom: 0 1.5rem 0 0
}

.shiba-spacing--stack-inline-4x {
    margin-bottom: 0 2rem 0 0
}

.shiba-spacing--stack-inline-6x {
    margin-bottom: 0 3rem 0 0
}

.shiba-spacing--stack-inset-half {
    margin-bottom: .25rem .25rem .25rem .25rem
}

.shiba-spacing--stack-inset-1x {
    margin-bottom: .5rem .5rem .5rem .5rem
}

.shiba-spacing--stack-inset-2x {
    margin-bottom: 1rem 1rem 1rem 1rem
}

.shiba-spacing--stack-inset-3x {
    margin-bottom: 1.5rem 1.5rem 1.5rem 1.5rem
}

.shiba-spacing--stack-inset-4x {
    margin-bottom: 2rem 2rem 2rem 2rem
}

.shiba-spacing--stack-inset-6x {
    margin-bottom: 3rem 3rem 3rem 3rem
}

.shiba-spacing--stack-stack-half {
    margin-bottom: 0 0 .25rem 0
}

.shiba-spacing--stack-stack-1x {
    margin-bottom: 0 0 .5rem 0
}

.shiba-spacing--stack-stack-2x {
    margin-bottom: 0 0 1rem 0
}

.shiba-spacing--stack-stack-3x {
    margin-bottom: 0 0 1.5rem 0
}

.shiba-spacing--stack-stack-4x {
    margin-bottom: 0 0 2rem 0
}

.shiba-spacing--stack-stack-6x {
    margin-bottom: 0 0 3rem 0
}