.shiba-link {
   font-family: inherit;
   justify-content: center;
   flex-direction: column;
   display: flex;
   position: relative;
   max-width: 0;
   box-sizing: border-box;
   z-index: 0;
   align-self: flex-start;
   margin-left: 8px;
   display: ltr;
}