@import "@/sass/index.scss";

.shiba-input-field {
  margin-bottom: 1rem
}

.shiba-input-field:last-child,
.shiba-input-field>:last-child,
.shiba-input-field>:last-child>:last-child,
.shiba-input-field>:last-child>:last-child>:last-child {
  margin-bottom: 0
}

.shiba-input-field__input {
  border-radius: .5rem;
  border: 1px solid var(--divider);
  height: 3rem;
  padding: .625rem 1rem;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  width: 100%;
  color: var(--primary-text)
}

.shiba-input-field__input:focus {
  border-color: var(--primary-border);
  box-shadow: 0 0 0 2px var(--highlight-bg);
  caret-color: var(--primary-border);
  outline: none
}

.shiba-input-field__input:disabled {
  cursor: not-allowed;
  opacity: .5;
  pointer-events: none
}

.shiba-input-field__input:required {
  -webkit-box-shadow: none;
  box-shadow: none
}

.shiba-input-field__input:required:focus {
  border-color: var(--primary-border);
  box-shadow: 0 0 0 2px var(--highlight-bg);
  caret-color: var(--primary-border);
  outline: none
}

.shiba-input-field__input::-webkit-input-placeholder {
  color: var(--placeholder-text);
}

.shiba-input-field__input::-moz-placeholder {
  color: var(--placeholder-text);
}

.shiba-input-field__input:-ms-input-placeholder {
  color: var(--placeholder-text);
}

.shiba-input-field__input::-ms-input-placeholder {
  color: var(--placeholder-text);
}

.shiba-input-field__input::placeholder {
  color: var(--placeholder-text);
}

.shiba-input-field__label {
  font-size: 1rem;
  font-weight: 600;
  line-height: 2rem;
  max-width: 40rem;
  margin-bottom: .5rem;
  display: block
}

.shiba-input-field--error label {
  color: var(--text-error);
}

.shiba-input-field--error input {
  margin-bottom: .5rem;
  border-color: var(--notification-badge)
}

.shiba-input-field--warning label {
  color: var(--text-warning)
}

.shiba-input-field--warning input {
  margin-bottom: .5rem;
  border-color: var(--warning)
}

.shiba-input-field--success label {
  color: var(--text-success);
}

.shiba-input-field--success input {
  margin-bottom: .5rem;
  border: 1px solid var(--divider);
}