@import "@/sass/index.scss";

.shiba-input {
  border-radius: 0.5rem;
  border: 1px solid var(--divider);
  height: 3rem;
  padding: 0.625rem 1rem;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  color: var(--primary-text);

  &:focus {
    border-color: var(--primary-border);
    box-shadow: 0 0 0 2px var(--highlight-bg);
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }

  &:required {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &::placeholder {
    color: var(--placeholder-text);
  }

  &::placeholder {
    color: var(--placeholder-text);
  }
}
