@import "@/sass/index.scss";

.shiba-card-search-result {
   font-family: inherit;
   flex-direction: column;
   display: flex;
   padding: 8px;
   border-radius: 8px;
   box-sizing: border-box;
   background-color: var(--card-background);
   max-height: calc(100vh - 80px);
   box-shadow: 0 2px 12px var(--shadow-2);


   &__scroll {
      font-family: inherit;
      flex-direction: column;
      display: flex;
      overflow-x: hidden;
      position: relative;
      z-index: 0;
      perspective: 1px;
      perspective-origin: right top;
      transform-style: preserve-3d;
      overflow-y: auto;
      overscroll-behavior-y: contain;
   }

   &__item {
      font-family: inherit;
      flex-direction: column;
      display: flex;
      overflow-y: hidden;
      position: relative;
      z-index: 0;
      perspective: 1px;
      perspective-origin: right top;
      transform-style: preserve-3d;
      overflow-x: auto;
      overscroll-behavior-x: contain;
   }

   &__item {
      font-family: inherit;
      flex-direction: column;
      display: flex;
      position: relative;
      flex-grow: 1;
   }

   .shiba-list {
      font-family: inherit;
      flex-direction: column;
      display: flex;
      position: relative;
      flex-grow: 1;
   }
}

.shiba-scroll {

   &__layout {
      display: block;
      height: 0px;
      right: 0px;
      font-family: inherit;
      width: 16px;
      position: absolute;
      opacity: 0;
      transition-timing-function: ease;
      transition-duration: .5s;
      transition-property: opacity;
      background-color: var(--divider);
   }

   &__scrollbar {
      display: block;
      height: 0px;
      right: 0px;
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1) scale(1.18016) translateZ(-0.180157px) translateZ(-2px);
      font-family: inherit;
      padding-top: 0;
      width: 16px;
      padding-bottom: 0;
      position: absolute;
      box-sizing: border-box;
      top: 0;
      transition-timing-function: ease;
      pointer-events: none;
      transform-origin: right, top;
      padding-left: 4px;
      transition-duration: .3s;
      transition-property: opacity;
      padding-right: 4px;  
      opacity: 0;
   }

   &__bar {
      font-family: inherit;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background-color: var(--scroll-thumb);
   }
}