@import "./root";

*,
:after,
:before {
  -webkit-box-sizing: inherit;
}

html {
  touch-action: manipulation;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-apple) + var(--font-family-code) +
    var(--font-family-default) + var(--font-family-segoe);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--shiba-white);
  color: var(--shiba-gray-100);
  direction: ltr;
  line-height: 1.34;
  width: 100%;
  margin: 0;
  padding: 0;
  unicode-bidi: embed;
  font-size: 12px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
  border-top: 1px solid rgba(0, 7, 9, 0.1);
  height: 0;
}

body b,
body strong {
  font-weight: 600;
}

body em {
  font-style: italic;
}

body,
button,
input,
label,
select,
td,
textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

label input {
  font-weight: normal;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

div {
  display: block;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

[type="svg"] {
  fill: currentcolor;
  height: 20;
  width: 20;
}
