[type="date"],
[type="datetime-local"],
[type="datetime"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
input:not([type]) {
  border-radius: 0.25rem;
  border: 1px solid #96a0aa;
  height: 3rem;
  padding: 0.625rem 1rem;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
}

[type="date"]:focus,
[type="datetime-local"]:focus,
[type="datetime"]:focus,
[type="email"]:focus,
[type="month"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="text"]:focus,
[type="time"]:focus,
[type="url"]:focus,
[type="week"]:focus,
input:not([type]):focus {
  -webkit-box-shadow: 0 0 0 4px #02b3e4;
  box-shadow: 0 0 0 4px #02b3e4;
  outline: none;
}

[type="date"]:disabled,
[type="datetime-local"]:disabled,
[type="datetime"]:disabled,
[type="email"]:disabled,
[type="month"]:disabled,
[type="number"]:disabled,
[type="password"]:disabled,
[type="search"]:disabled,
[type="tel"]:disabled,
[type="text"]:disabled,
[type="time"]:disabled,
[type="url"]:disabled,
[type="week"]:disabled,
input:not([type]):disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

[type="date"]:required,
[type="datetime-local"]:required,
[type="datetime"]:required,
[type="email"]:required,
[type="month"]:required,
[type="number"]:required,
[type="password"]:required,
[type="search"]:required,
[type="tel"]:required,
[type="text"]:required,
[type="time"]:required,
[type="url"]:required,
[type="week"]:required,
input:not([type]):required {
  -webkit-box-shadow: none;
  box-shadow: none;
}

[type="date"]:required:focus,
[type="datetime-local"]:required:focus,
[type="datetime"]:required:focus,
[type="email"]:required:focus,
[type="month"]:required:focus,
[type="number"]:required:focus,
[type="password"]:required:focus,
[type="search"]:required:focus,
[type="tel"]:required:focus,
[type="text"]:required:focus,
[type="time"]:required:focus,
[type="url"]:required:focus,
[type="week"]:required:focus,
input:not([type]):required:focus {
  -webkit-box-shadow: 0 0 0 4px #02b3e4;
  box-shadow: 0 0 0 4px #02b3e4;
}

[type="date"]::-webkit-input-placeholder,
[type="datetime-local"]::-webkit-input-placeholder,
[type="datetime"]::-webkit-input-placeholder,
[type="email"]::-webkit-input-placeholder,
[type="month"]::-webkit-input-placeholder,
[type="number"]::-webkit-input-placeholder,
[type="password"]::-webkit-input-placeholder,
[type="search"]::-webkit-input-placeholder,
[type="tel"]::-webkit-input-placeholder,
[type="text"]::-webkit-input-placeholder,
[type="time"]::-webkit-input-placeholder,
[type="url"]::-webkit-input-placeholder,
[type="week"]::-webkit-input-placeholder,
input:not([type])::-webkit-input-placeholder {
  color: #96a0aa;
}

[type="date"]::-moz-placeholder,
[type="datetime-local"]::-moz-placeholder,
[type="datetime"]::-moz-placeholder,
[type="email"]::-moz-placeholder,
[type="month"]::-moz-placeholder,
[type="number"]::-moz-placeholder,
[type="password"]::-moz-placeholder,
[type="search"]::-moz-placeholder,
[type="tel"]::-moz-placeholder,
[type="text"]::-moz-placeholder,
[type="time"]::-moz-placeholder,
[type="url"]::-moz-placeholder,
[type="week"]::-moz-placeholder,
input:not([type])::-moz-placeholder {
  color: #96a0aa;
}

[type="date"]:-ms-input-placeholder,
[type="datetime-local"]:-ms-input-placeholder,
[type="datetime"]:-ms-input-placeholder,
[type="email"]:-ms-input-placeholder,
[type="month"]:-ms-input-placeholder,
[type="number"]:-ms-input-placeholder,
[type="password"]:-ms-input-placeholder,
[type="search"]:-ms-input-placeholder,
[type="tel"]:-ms-input-placeholder,
[type="text"]:-ms-input-placeholder,
[type="time"]:-ms-input-placeholder,
[type="url"]:-ms-input-placeholder,
[type="week"]:-ms-input-placeholder,
input:not([type]):-ms-input-placeholder {
  color: #96a0aa;
}

[type="date"]::-ms-input-placeholder,
[type="datetime-local"]::-ms-input-placeholder,
[type="datetime"]::-ms-input-placeholder,
[type="email"]::-ms-input-placeholder,
[type="month"]::-ms-input-placeholder,
[type="number"]::-ms-input-placeholder,
[type="password"]::-ms-input-placeholder,
[type="search"]::-ms-input-placeholder,
[type="tel"]::-ms-input-placeholder,
[type="text"]::-ms-input-placeholder,
[type="time"]::-ms-input-placeholder,
[type="url"]::-ms-input-placeholder,
[type="week"]::-ms-input-placeholder,
input:not([type])::-ms-input-placeholder {
  color: #96a0aa;
}

[type="date"]::placeholder,
[type="datetime-local"]::placeholder,
[type="datetime"]::placeholder,
[type="email"]::placeholder,
[type="month"]::placeholder,
[type="number"]::placeholder,
[type="password"]::placeholder,
[type="search"]::placeholder,
[type="tel"]::placeholder,
[type="text"]::placeholder,
[type="time"]::placeholder,
[type="url"]::placeholder,
[type="week"]::placeholder,
input:not([type])::placeholder {
  color: #96a0aa;
}
